@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: rgba(255, 255, 255);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
    --black: #090909;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
}

html, body{
	height: 100%;
}

body{
	background-color: var(--black);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title{
	font-family: "Metal Mania", system-ui;
}

/* CARD */
main{
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center; 
}

.card{
	width: 30%;
	padding: 1.5em;
	border: 3px	 solid white;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 3em;
}

.card .logo-space{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.logo-space .logo img{
	width: 100px;
	display: block;
}

.logo-space h3{
	font-size: 2em;	
	color: white;
}

/* LISTA CARRINHO */
.card .itens-carrinho{
	width: 100%; 
	padding: 1em 0;
	height: auto;
    display: flex;
    flex-direction: column;
    gap: .5em;

    scrollbar-width: thin;
}

/* SCROLL CARRINHO */

.itens-carrinho::-webkit-scrollbar {
  width: 12px;
}

.itens-carrinho::-webkit-scrollbar-track {
  background: var(--gray);
}

.itens-carrinho::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 20px;
  border: 3px solid var(--gray);
}

/* ITEM */
.itens-carrinho .item{
    border-left: 0.5px solid #fff;
	width: auto;
	height: auto;
	display: flex;
	justify-content: space-between;
}


.item .image-item{
	color: white;
	width: 6em;
}

.item .image-item img{
	display: block;
	filter: drop-shadow(0px 0px 1px white);
	height: 6em;
}

.item .info-item {
	height: 6em;
	width: 80%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--white);
}

.item .info-item > *{
	display: flex;
	justify-content: space-between;
}

.item .info-item .action-product .quant-space{
	display: flex;
	height: 1.5em;
}

.item .info-item .action-product .quant-space input,
.item .info-item .action-product .quant-space button{
	width: 2em;
	text-align: center;
}
/* REMOVER SETAS DO INPUT NUMBER #QUANT*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card .info-carrinho{
	color: white;
	width: 100%;
	padding-top: 1em;
	border-top: .5px solid white;


	display: flex;
	justify-content: space-between;
	align-itens: flex-end;
}

.card .info-carrinho button{
	padding: 0.8em 1.8em;
    border: 2px solid ;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--white);
    cursor:pointer;
}
   
.card .info-carrinho button:hover {
    background: var(--white);
    color: var(--black);
}

/* ICON LIXEIRA */
.fa-trash:before {
    content: "\f1f8";
    color: white;
    font-size: 1em;
}	

@media only screen and (max-width: 630px) {
    .card {
        width: 90%;
        height: auto;
        gap: 1em;
        justify-content: space-between;
    }

    .logo-space{
    	width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		color: #fff;
    }

    .logo-space .logo img {
        width: 80px;
    }

    .logo-space h3 {
        font-size: 1.5em;
    }

    .itens-carrinho {
        width: 100%; 
		padding: 1em 0;
		height: auto;
	    display: flex;
	    flex-direction: column;
	    gap: .5em;
    }

    .itens-carrinho .item {
    	border-left: 0.5px solid #fff;
		width: auto;
		height: auto;
		display: flex;
		justify-content: space-between;
    }

    .item .image-item img {
        width: 100%; 
        height: auto; 
        margin-bottom: 0.5em;
    }

    .item .info-item {
        width: 100%;
        height: 100%;
    }

    .item .info-item .action-product .quant-space{
		display: flex;
		height: 1.5em;
	}

	.item .info-item .action-product .quant-space input,
	.item .info-item .action-product .quant-space button{
		width: 2em;
		text-align: center;
	}
	/* REMOVER SETAS DO INPUT NUMBER #QUANT*/
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

    .info-carrinho button {
    	width: 10em;
    	height: 4.5em;
        font-size: 10px; 
        padding: 0;
    }
}
