:root {
    --white: rgba(255, 255, 255);
    --dark-gray: #606060;
    --dark-red: #8b0000;
    --gray: #ededed;
    --black: #090909;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--black);
}

/* MOBILE E TABLET*/
@media screen and (max-width: 850px) {
    body {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 1em 0;
    }

    main{
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
    }

    #cel{
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
        gap: 4em;
    
    }

    .list-filter #cel{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-filter #cel select{
        background-color: var(--black);
        width: 75%;
        padding: 4px;
        color: var(--white);
        border: 1px solid var(--white);
        border-radius: 4px;

        font-size: 20px;
    }

    .list-filter #cel select option{
        background-color: var(--dark-gray);
        color: var(--black);
    }

    .list-product{
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;

    }
    .list-product .product{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .list-product .product img{
        display: block;
        width: 20em;
        height: 20em;
        filter: drop-shadow(2px 2px 4px var(--white));
    }
    
    #desktop{
        display: none;
    }
}   

/* TABLETS MAIORES E PC*/
@media only screen and (min-width: 851px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: var(--black);
    }

    body main {
        height: auto;
        padding: 3em 0;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2em;

    }

    main .list-filter {
        width: auto;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .list-filter #desktop .filter-buttons{
        width: 15em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1em;
        overflow-y: auto;
    }

    #desktop{
        width: 100%;
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2em;
    }

    .list-filter .filter {
        background-color: var(--black);
        width: 100%;
        height: 3.5em;
        cursor: pointer;
        border: 1px solid var(--gray);
        border-radius: 10%;
        color: var(--white);
        font-size: 1em;
    }

    .list-filter .filter:hover {
        border: 1px solid var(--dark-gray);
    }

    .list-filter .filtro-ativo {
        background-color: var(--dark-gray);
        color: var(--white);
        border: 1.5px solid var(--white);
    }

    .list-filter .remove-button{
        width: 15em;
    }

    .list-filter .remove {
        height: 3.5em;
        width: 100%;
        font-size: 1em;
        color: var(--white);
        background-color: var(--black);
        border: 1px solid var(--gray);
        border-radius: 10%;
        cursor: pointer;
    }

    .list-filter .remove:hover{
        border: 1px solid var(--dark-red);
    }

    .list-filter .remove i {
        margin-right: 5px;
    }

    main .list-product {
        height: 100%;
        width: 90em;

        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .list-product .product {
        width: 20em;
        height: 25em;
        margin-bottom: 1em; 
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }


    .list-product .product img {
        cursor: pointer;
        width: 100%;
        max-height: 20em;
        display: block;
        filter: drop-shadow(2px 2px 4px var(--white));
    }

    #cel{
        display: none;
    }
}
