:root {
    --black: #090909;
    --white: #ffffff;
    --gray: #606060;
  }
*{
    margin:0px;
}
  .left{
    background-color: var(--black);
    padding: 3em 0 3em 0;
    flex:1 1 100px;
    color:var(--white);
  }

  main{
    background-color:var(--black);
    padding:3em 0 3em 0;
    flex:5 5 150px;
  }
  .main{
    display:flex;
    flex:1;
    height:95vh;
    color:var(--white);
    
  }
  .right{
    background-color:var(--black);
    padding: 3em 0 3em 0;
    flex:1 1 100px;
    color:var(--white);
  }

  .footer{
    background-color:var(--black);
    padding: 1em 0 1em 0;
    color:var(--white);

  }

  @media all and (max-width:550px){
    .main{
        flex-direction:column;
    }
    main{
        padding:5em 0 5em 0;
    }
  }

  #enterPag{
    background-color:var(--black);
    position:absolute;
    top:0;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    color:var(--white);
  }
  #enterPag img{
    width:5rem;
    height:5rem;
  }

  .logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background:var(--black);
  height: 8vh;
  color:var(--white);
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color: #0f0f0f;
}

nav a{
    color:var(--white);
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--black);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
