:root {
    --black: #090909;
    --white: #ffffff;
    --gray: #606060;
  }
*{
    margin:0px;
}
  .left{
    background-color: var(--black);
    padding: 3em 0 3em 0;
    flex:1 1 100px;
    color:var(--white);
  }

  main{
    background-color:var(--black);
    padding:3em 0 3em 0;
    flex:5 5 150px;
  }
  .main{
    display:flex;
    flex:1;
    min-height: 100vh;
    color:var(--white);
    
  }
  .right{
    background-color:var(--black);
    padding: 3em 0 3em 0;
    flex:1 1 100px;
    color:var(--white);
  }

  .footer{
    background-color:var(--black);
    padding: 1em 0 1em 0;
    color:var(--white);

  }

  @media all and (max-width:550px){
    .main{
        flex-direction:column;
    }
    main{
        padding:5em 0 5em 0;
    }
  }

  #enterPag{
    background-color:var(--black);
    position:absolute;
    top:0;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    color:var(--white);
  }
  #enterPag img{
    width:5rem;
    height:5rem;
  }

  .logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

