:root {
    --black: #090909;
    --white: #ffffff;
    --gray: #606060;
  }

.flex-container{
display:grid;
flex-wrap:wrap;
gap:8px;
justify-content:center;
align-items:center;
border-style:solid;
padding:1rem;
}

input{
    padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

input:focus{
    border-color:var(--gray);
  box-shadow: 0 0 0 0.2rem var(--gray);
}

.inputLogin{
    flex: 1 0 140px;
}
.inputSenha{
    flex: 1 0 120px
}
.logar{
    flex: 1 0 60px;
}

.mainLogin{
    display:flex;
    justify-content:center;
    align-items:center;
    height:90vh;
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid ;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--white);
    cursor:pointer;
   }
   

  
   button:hover {
    background: var(--white);
    color: #111;
   }
   