@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


.containerF{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapperF{
  width: 100%;
  border-style:solid;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapperF .title{
  height: 90px;
  border-bottom-style:solid;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperF .formF{
  padding: 30px 25px 25px 25px;
}
.wrapperF .formF .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapperF .formF .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left:1rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
  
}

.formF .row input::placeholder{
  color: #999;
}
.wrapperF .formF .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperF .formF .pass{
  margin: -8px 0 20px 0;
}
.wrapperF .formF .pass a{
  color: #ffff;
  font-size: 17px;
  text-decoration: none;
}
.wrapperF .formF .pass a:hover{
  text-decoration: underline;
}


.wrapperF .formF .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapperF .formF .signup-link a{
  color: #ffff;
  text-decoration: none;
}
.formF .signup-link a:hover{
  text-decoration: underline;
}
.btn-join{
	padding: 0.8em 1.8em;
    border: 2px solid ;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--white);
    cursor:pointer;
   }
   
   .btn-join:hover {
    background: var(--white);
    color: #111;
   }

