:root {
    --black: #090909;
    --white: #fff;
    --gray: #606060;
}

*{
    margin:0;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo img{
    width: 150px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color:var(--black);
    height: 15vh;
    color:var(--white);
    letter-spacing: 3px;
}

nav a{
    color:var(--white);
}

nav a:hover{
    opacity: 0.6;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li a{
    margin-left: 32px;
    text-decoration: none;

}

.nav-user{
    width: 20em;
    padding-right: 3em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}

.nav-user .login{
    text-decoration: none;
    cursor: pointer;
}

.nav-user button{
    width: 10em;
    height: 2.5em;

    border-radius: 6px;
    background-color: var(--gray);
    
    color: var(--black);
    font-size: 1em;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
}

.mobile-menu {
    display: none;
    cursor: pointer;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list, .nav-user {
        z-index:1;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--black);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        z-index:999;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
  
