@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
:root {
    --black: #090909;
    --white: #ffffff;
    --gray: #606060;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

body{
    line-height: 1.5;
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

main{
    width: 50%;
    display: flex;
}

main .card{
    width: 100%;

    display: flex;
}

.product-imgs img{
    width: 100%;
    display: block;
    filter: drop-shadow(2px 2px 4px var(--white));
}

.img-display{
    overflow: hidden;
}

.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img{
    min-width: 100%;
}

.product-content{
    padding: 2rem 1rem;
}

.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: var(--white);
    margin: 1rem 0;
}

.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price p{
    color: var(--white);
    font-weight: 300;
}

.product-detail h2{
    color:var(--white);
    padding-bottom: 0.6rem;
}

.product-detail p{
    color: var(--white);
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    
}

.purchase-info input{
    width: 60px;
}

.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type{
    padding: 0.8em 1.8em;
    border: 2px solid ;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--white);
    cursor:pointer;
    flex: 1 0 60px;
}

.purchase-info .btn:last-of-type{
    padding: 0.8em 1.8em;
    border: 2px solid ;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--white);
    cursor:pointer;
}

.purchase-info .btn:hover{
    opacity: 0.9;
}


@media screen and (max-width: 992px){
    main{
        width: 80%;
    }

    .card{
        display: flex;
        flex-direction: column;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .product-content{
        padding-top: 0;
    }
}
